<div class="view-wrap">

  <h1>Get Started</h1>

  <p>With this tab in focus, keyboard and gamepad events can be sent to a remote client.</p>

  <!-- Introduction
  ––––––––––––––––––––– -->
  <div ng-if="!server.connected">
    <h2>Pairing</h2>
    <p>Look for your pair code on the remote device, then enter it here to connect.</p>
    <div class="row">
      <div class="eight columns">
        <input type="text"
               placeholder="pair-code"
               class="u-full-width"
               ng-model="pairCode"
               ng-pattern="/^[a-zA-Z]+\-[a-zA-Z]+$/"
               ng-keyup="$event.keyCode == 13 && connect(pairCode)">
      </div>
      <div class="four columns">
        <button class="button button-primary u-full-width"
                ng-click="connect(pairCode)">Connect</button>
      </div>
    </div>
  </div>

  <!-- Status
  ––––––––––––––––––––– -->
  <h2>Connection</h2>
  <div class="row">
    <div class="module u-full-width" style="max-width: 550px;">
      <table class="u-full-width">
        <tbody>
          <tr>
            <td>Server Status</td>
            <td>
              <span class="toggle" ng-class="{green: server.connected, red: !server.connected}">
                {{ server.connected ? 'Connected' : 'Disconnected' }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Remote Device</td>
            <td>
              <span class="toggle" ng-class="{green: peer.connected, red: !peer.connected}">
                {{ peer.connected ? 'Connected' : 'Disconnected' }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Protocol</td>
            <td>
              <span class="toggle" ng-class="{green: peer.protocol === 'rtc',
                                              yellow: peer.protocol === 'socket',
                                              red: !peer.protocol}">
                {{ peer.protocol ? protocolLabels[peer.protocol] : 'Disconnected' }}
              </span>
            </td>
          </tr>
          <tr>
            <td>Latency</td>
            <td>{{ peer.latency || '∞' }}ms</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Listeners
  ––––––––––––––––––––– -->
  <div class="row" ng-if="listeners.length">
    <h2>Input Devices</h2>
    <div class="module" ng-repeat="listener in listeners">
      <button class="button u-pull-right"
              ng-class="{ 'button-primary': !listener.isEnabled() }"
              ng-click="listener.setEnabled(!listener.isEnabled())">
        {{ listener.isEnabled() ? 'Disable' : 'Enable' }}
      </button>
      <h5>{{ listener.title }}</h5>
      <ul>
        <li>A-Frame component: <a href="{{ listener.github }}" target="_blank">{{ listener.component }}</a></li>
        <li>Event type: <code>{{ listener.type }}</code></li>
      </ul>
    </div>
  </div>

</div>