<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Proxy Controls • Client</title>
  <meta name="description" content="Proxy user input from host machine to VR devices, such as Google Cardboard.">
  <meta name="author" content="Don McCurdy">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Font
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/normalize.css">
  <link rel="stylesheet" href="assets/skeleton.css">
  <link rel="stylesheet" href="assets/client.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="assets/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" ng-app="proxyControlsApp" ng-controller="MainCtrl">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <h4>Proxy Controls • Client</h4>
        <p>With this tab in focus, keyboard and gamepad events can be sent to a remote client.</p>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <h5>Listeners</h5>
        <ul>
          <li ng-repeat="listener in listeners">
            {{ listener.title }}
            <ul>
              <li>Event type: <code>{{ listener.type }}</code></li>
              <li ng-if="listener.enabled">Status: <span style="color: green">Enabled</span></li>
              <li ng-if="!listener.enabled">Status: <span style="color: crimson">Disabled</span></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Bootstrap
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="bundle.js"></script>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

