/* Client CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Page layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body > .container { margin-top: 2rem; }
@media screen and (min-width: 750px) {
  body > .container { margin-top: 4rem; }
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  height: 60px;
  line-height: 60px;
  background: #222;
}

header h4,
header nav {
  margin: 0;
  line-height: inherit;
  display: inline-block;
}

.logo,
.logo:hover {
  color: #FFF;
  text-decoration: none;
}

.nav-link {
  display: inline-block;
  padding: 0 1em;
  font-size: 1.8rem;
  font-weight: 300;
  color: #FFF;
  text-decoration: none;
}
  
  .nav-link:hover { color: #FFF; background: #444 }


/* Getting Started
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input.ng-invalid,
input.ng-invalid:focus { border-color: #ED143D; }

/* Modules
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.module {
  background: #F8F8F8;
  border-radius: 4px;
  padding: 3rem;
}

  .module + .module { margin-top: 1rem; }
  .module:last-child { margin-bottom: 2rem; }

.module ul,
.module li:last-child {
  margin-bottom: 0;
}

.module .button {
  height: 30px;
  width: 95px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Toggles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggle {
  color: #FFF;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}

  .toggle.green  { background: #008000; }
  .toggle.yellow { background: #DAA520; }
  .toggle.red    { background: #ED143D; }
