/* Client CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Page layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */

body {
  overflow-y: scroll;
}

.container { max-width: 850px; }
body > .container { margin-top: 2rem; }
@media screen and (min-width: 750px) {
  body > .container { margin-top: 4rem; }
}

section:not(:last-child) {
  margin-bottom: 6rem;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 { font-size: 5.0rem; }
h2 { font-size: 3.6rem; }
h3 { font-size: 3.0rem; }
h4 { font-size: 2.4rem; }
body { font-size: 1.8rem; }

p { font-weight: 300; line-height: 1.7em; }

a { text-decoration: none; }
  a:hover { text-decoration: underline; }

.caps { font-size: 1.5rem; font-weight: 400; }

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

header {
  height: 60px;
  line-height: 60px;
  background: #222;
}

header h4,
header nav {
  margin: 0;
  line-height: inherit;
  display: inline-block;
}

.logo,
.logo:hover {
  color: #FFF;
  text-decoration: none;
}

.version {
  font-size: 0.4em;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  bottom: 1em;
  color: #1EAEDB;
}

.nav-link {
  display: inline-block;
  float: left;
  height: 60px;
  box-sizing: border-box;
  padding: 0 1em;
  font-size: 1.8rem;
  font-weight: 300;
  color: #FFF;
  text-decoration: none;
}

  .nav-link.active { border-bottom: 5px solid #33C3F0; }

  .nav-link:hover {
    color: #FFF;
    background: #444;
    text-decoration: none;
  }


/* Getting Started
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input.ng-invalid,
input.ng-invalid:focus { border-color: #ED143D; }

/* Modules
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.module {
  background: #F8F8F8;
  border-radius: 4px;
  padding: 3rem;
}

  .module + .module { margin-top: 1rem; }
  .module:last-child { margin-bottom: 2rem; }

.module ul,
.module li:last-child {
  margin-bottom: 0;
}

.module .button {
  height: 30px;
  width: 95px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Toggles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggle {
  color: #FFF;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}

  .toggle.green  { background: #008000; }
  .toggle.yellow { background: #DAA520; }
  .toggle.red    { background: #ED143D; }
