/* Client CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */

h1 {
  margin-top: 5rem;
}

h1 .version {
  color: #1EAEDB;
  font-size: 0.5em;
  text-transform: uppercase;
}

/* Getting Started
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input.ng-invalid,
input.ng-invalid:focus { border-color: #ED143D; }

/* Modules
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.module {
  background: #F8F8F8;
  border-radius: 4px;
  padding: 3rem;
}

  .module + .module { margin-top: 1rem; }
  .module:last-child { margin-bottom: 2rem; }

.module ul,
.module li:last-child {
  margin-bottom: 0;
}

.module .button {
  height: 30px;
  width: 95px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Toggles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggle {
  color: #FFF;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}

  .toggle.green  { background: #008000; }
  .toggle.yellow { background: #DAA520; }
  .toggle.red    { background: #ED143D; }
