/* Client CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.module {
  border: 1px solid #888;
  border-radius: 4px;
  padding: 1.2rem;
}

  .module + .module { margin-top: 1rem; }
  .module:last-child { margin-bottom: 2rem; }

.module ul,
.module li:last-child {
  margin-bottom: 0;
}

.module .button {
  height: 30px;
  width: 95px;
  line-height: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Form
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input.ng-invalid,
input.ng-invalid:focus { border-color: #ED143D; }

.drop-label { display: none; }
@media (min-width: 550px) {
  .drop-label { display: block; }
}

/* Toggles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.toggle {
  color: #FFF;
  padding: 0.3rem 0.5rem;
  border-radius: 0.2rem;
}

  .toggle.green  { background: #008000; }
  .toggle.yellow { background: #DAA520; }
  .toggle.red    { background: #ED143D; }
